body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

#contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  outline: 1px solid #000000;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
  outline: 1px solid #ffffff;
  scale: 1.1;
}

.button:active {
  scale: 0.9;
}

#todoList {
  width: 80vw;
  height: 500px;
  background-color: #ffffff;
  color: #000;
  padding: 10px;
  font-size: 20px;
  row-gap: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px;
  border-radius: 5px;
  overflow: auto;
}

header {
  text-align: center;
  top: 0;
}

.input {
  margin: 20px 5px;
  padding: 5px;
  outline: none;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
}

.input:focus {
  border-bottom: 1px solid white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  align-items: center;
  height: 250px;
  margin: 2px;
  background-color: rgb(21, 15, 15);
  color: white;
  border-radius: 5px;
}

.card-title {
  margin: 0;
  font-size: 18px;
}

.card-description {
  margin: 0;
  font-size: 12px;
}
